<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col text-center">
    <h1>
      {{ title }}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col">
    Izquierda
  </div>
  <div class="col">
    Eventos
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let evento of eventos | async">
          <div class="row">
            <div class="col">
              <strong>
                Nombre: 
              </strong>
            </div>
            <div class="col">
              {{evento.name}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>
                Fecha: 
              </strong>
            </div>
            <div class="col">
                {{ evento.date.seconds*1000 | date:'medium'}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>
                Museo: 
              </strong>
            </div>
            <div class="col">
                {{evento.museo}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>
                Body:
              </strong>
            </div>
            <div class="col">
                {{evento.body}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-danger" (click)="eliminar(evento)">Eliminar</button>
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>

